<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.im.model.dao.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.demo.im.entity.TUser" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
  </resultMap>
  <!--  -->
  <resultMap type="com.demo.im.entity.TUser" id="UserRoleMap" extends="BaseResultMap">
  	<collection property="roles" ofType="com.demo.im.entity.Role">
  		<id column="role_id" property="roleId" jdbcType="INTEGER" />
	    <result column="roleCode" property="rolecode" jdbcType="VARCHAR" />
	    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
	    <result column="type" property="type" jdbcType="VARCHAR" />
		<association property="rgId" javaType="com.demo.im.entity.RoleGroup" column="rg_id">
			<id column="u_id" property="uId" jdbcType="INTEGER" />
		    <result column="rg_name" property="rgName" jdbcType="VARCHAR" />
		    <result column="type" property="type" jdbcType="VARCHAR" />
		</association>
  	</collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    u_id, username, password, user_role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <select id="selectUserRole" resultMap="UserRoleMap" parameterType="java.lang.Integer">
  	select 
  		u.u_id, u.username, u.password, u.user_role,
  		r.role_id, r.roleCode, r.roleName, r.type,
	    rg.u_id, rg.rg_name, rg.type
  	from user u 
  		left join t_user_role ur on u.u_id = ur.user_id
  		left join t_role r on ur.role_id = r.role_id
  		left join t_role_group rg on rg.u_id = r.rg_id
  	where u.u_id = #{uId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserParam" resultMap="UserRoleMap" parameterType="com.demo.im.entity.TUser">
  	select 
  		u.u_id, u.username, u.password, u.user_role,
  		r.role_id, r.roleCode, r.roleName, r.type,
	    rg.u_id, rg.rg_name, rg.type
  	from user u 
  		left join t_user_role ur on u.u_id = ur.user_id
  		left join t_role r on ur.role_id = r.role_id
  		left join t_role_group rg on rg.u_id = r.rg_id
    where "1=1" 
    	<if test="uId != null">
    		and  u.u_id = #{uId,jdbcType=INTEGER}
    	</if>
    	<if test="username != null">
    		and  u.username = #{username,jdbcType=VARCHAR}
    	</if>
    	<if test="password != null">
    		and u.password = #{password,jdbcType=VARCHAR}
    	</if>
    	<if test="userRole != null">
    		and u.user_role = #{userRole,jdbcType=VARCHAR}
    	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.im.entity.TUser" >
    insert into user (u_id, username, password, 
      user_role)
    values (#{uId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userRole,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.im.entity.TUser" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.im.entity.TUser" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.im.entity.TUser" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>